body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}

#eliteCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.elite-img:hover {
  opacity: 1;
  filter: drop-shadow(0 0 15px #ff3b3b);
}
